.dashboardWrapper {
  background-color: #f2f5f6;
  padding-top: 1rem;
  height: 100%;
  min-height: calc(100vh - 4rem);
}

.banner {
  margin-top: -15px !important;
  background-color: #1a3b71;
  height: 6rem;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.portfolioWorthFigure {
  font-weight: 300 !important;
}

.portfolioWorthText {
  font-weight: 400 !important;
}

.statusChip {
  font-weight: 400;
  background-color: #6396d8;
  letter-spacing: 1px;
}

.figuresBar {
  height: 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: none !important;
}

.cardShadowNone {
  box-shadow: none !important;
}

.chart {
  box-shadow: none !important;
}

.rightSection {
  box-shadow: none !important;
}
