.dashboardWrapper {
  background-color: var(--bg-ocean-light-blue);
  padding-top: 1rem;
  padding-bottom: 2rem;
  height: 100%;
  min-height: calc(100vh - 4rem);
}

.banner {
  margin-top: -15px !important;
  background-color: var(--bg-ocean-blue);
  height: 6rem;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.portfolioWorthFigure {
  font-weight: 500;
  font-size: 1.7rem;
  color: #10284d;
}

.portfolioWorthText {
  font-weight: 400;
}

.statusChip {
  font-weight: 400;
  background-color: #6396d8;
  letter-spacing: 1px;
}

.figuresBar {
  height: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) !important;
  line-height: 3rem;
}

.figuresBar:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.cardShadowNone {
  box-shadow: none !important;
}

.chart {
  /* box-shadow: none !important; */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) !important;
  margin-bottom: 1rem;
}

.chart:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.rightSection {
  /* box-shadow: none !important; */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) !important;
}

.rightSection:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.portfoliosText {
  font-weight: 400 !important;
  margin-bottom: 1.5rem !important;
  font-size: 1rem;
}

.iconWrapper {
  margin-right: 0.5rem;
  background-color: #00000014;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.figuresBarTop {
  display: flex;
  justify-content: space-between;
}

.addNewPortfolioButton {
  width: 100%;
  margin-top: 0.5rem !important;
}

.horizontalLine {
  border: 0.6px solid rgba(0, 0, 0, 0.13); /* Change the color by specifying a different color code (e.g., #FF0000 for red) */
}
