.stockone {
  display: flex;
  background-image: url("../../../public/image6.jpg");
  width: 100%;
  min-height: 100vh; 
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  z-index: -1;
}

  .stocktwo{
    margin-top: 20px;
    display: block;
     margin-left: auto;
    margin-right: auto;
  }
  .stocktwoitem{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-weight: 20;
    font-size: 30px;
  }

p{
   font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
   
}

.landingpage{
    margin-top: -10px;
    font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
    font-weight: 20;
    line-height: 82px;
    word-wrap: break-word;
   
}
.gridcontainerone {
  display: unset !important; /* Reset to default value */
  width: unset !important; /* Reset to default value */
  grid-template-columns: unset !important; /* Reset to default value */
}


.gridcontainertwo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridcontainerthree{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stockthree{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
