.portfolioDetailedWrapper {
  background-color: var(--bg-ocean-light-blue);
  padding-top: 1rem;
  padding-bottom: 2rem;
  height: 100%;
  min-height: calc(100vh - 4rem);
}

.banner {
  margin-top: -15px !important;
  background-color: var(--bg-ocean-blue);
  height: 6rem;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.firstContainer {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  gap: 10px !important;
}

.cardCustom {
  margin-top: 10px;
  min-height: 23rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) !important;
}

.cardCustom:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.cardTitle {
  font-weight: 500;
}

.buttonGroups {
  margin-top: 1rem;
}

.portfolioDescriptionTitle {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.portfolioDescription {
  font-weight: 400;
  font-size: 0.9rem;
}

.portfolioDescriptionWrapper {
  margin-bottom: 1rem;
}

.updatePortfolioModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background-color: white; /* Use the appropriate background color */
  box-shadow: 24px;
  padding: 16px; /* p: 4 is equivalent to padding: 16px; in pixels */
  border-radius: 5px;
}

.deleteMessage {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.deleteMessage strong {
  font-weight: 600;
}

.deleteTitle {
  font-weight: 500;
  margin-bottom: 1rem;
}
